body{
    background-color: rgb(227, 195, 236);
    overflow: scroll;
}
h1{
    text-align: center;
    color: blueviolet;
}
p{
    text-align: center;
    color: blueviolet;
}
.row{
    background-color: rgb(94, 14, 168);
    display: flex;
    padding: 20px;
    justify-content:space-around;
    color: white;
}
.box1{
    background-color:white;
    margin-bottom: 30px;
}
.box2{
background-color: white;
float:left;
width:760px;
}
.box3{
    background-color: white;
    float: right;
    width:400px;
}
.img1{
    width:700px;
   margin: 0 auto;
   display:block;
   height: 300px;
}
.img2{
    width:300px;
     margin: 0 auto;
    display:block;
}
span:hover{
    color: black;
    cursor: pointer;
}
